.change-page {
  height: 100vh;
  background: #f5f7fa;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.change-card {
  width: 420px;
  background: white;
  padding: 30px;
  border-radius: 12px;

  border: 1px solid #e5e7eb;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.change-card h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

.change-card p {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 20px;
}

/* FORM */
.form-group {
  margin-bottom: 18px;
}

.form-group label {
  font-size: 13px;
  margin-bottom: 6px;
  display: block;
}

/* INPUT WITH EYE */
.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 12px;
  padding-right: 35px;

  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 13px;
}

.input-wrapper span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  color: #6b7280;
}

.input-wrapper span:hover {
  color: #111827;
}

/* BUTTONS */
.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-btn {
  width: 48%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
  cursor: pointer;
}

.confirm-btn {
  width: 48%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #1e63a9;
  color: white;
  cursor: pointer;
}

.confirm-btn:hover {
  background: #1d4ed8;
}